@font-face {
  font-family: "panton-black";
  src: url('../fonts/panton-black-webfont.woff2') format('woff2'),
       url('../fonts/panton-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
